.card-btn {
  background: transparent;
  border: 1px solid #BB65FF;
  border-radius: 7px;
  color: white;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  padding: 1rem;
  min-width: 50px;
  transition: all 0.2s ease;
  width: 53px;
  height: 86px;
  cursor: pointer;
  box-shadow: 0px 12px 24px 0px #FFFFFF66;
  box-shadow: 0px 4px 24px 0px #FFFFFF3D;
  &:hover,
  &.selected{
    background: #E4A4FF;
    color: #330072;
  }
  
}
