<header class="game-header">
  <div class="header-left">
    <img src="assets/images/logo.png" alt="Logo" class="logo">
  </div>
  <div class="header-center">
    <h1 class="game-title">{{ gameName }}</h1>
  </div>
  <div class="header-right">
    <app-user-info [userName]="userName" (click)="openUserSettingsModal()" ></app-user-info>
    <app-button  [className]="'invite-button'" (click)="openInviteModal()">Invitar jugadores</app-button>
  </div>
</header>

<app-modal-container 
  [show]="isInviteModalOpen" 
  (close)="closeInviteModal()"
  [modalClass]="'invite-modal'"
  >
  <h2 class="header-title-modal">Invitar Jugadores <img src="assets/images/x.png" alt="Cerrar Modal" (click)="closeInviteModal()" /></h2>
  <div class="container-modal">
      <input type="text" [value]="inviteLink" readonly class="invite-link"/>
      <app-button [className]="'copy-button'" (click)="copyInviteLink()">Copiar Link</app-button>
  </div>
</app-modal-container>

<app-modal-container 
  [show]="isUserSettingsModalOpen" 
  (close)="closeUserSettingsModal()"
  [modalClass]="'user-settings-modal'">
  <app-join-game-modal
    [userRole]="userRole"
    [displayMode]="displayMode"
    [userName]="userName"
    (displayModeChange)="onDisplayModeChange($event)"
    (close)="closeUserSettingsModal()">
  </app-join-game-modal>
</app-modal-container>