<div class="role-selector">
  
  <div class="options-container">
    <app-radio-input
      id="player"
      name="role"
      value="jugador"
      [checked]="selectedRole === 'jugador'"
      (selected)="onRoleChange('jugador')"
    >
      Jugador
    </app-radio-input>

    <app-radio-input
      id="spectator"
      name="role"
      value="espectador"
      [checked]="selectedRole === 'espectador'"
      (selected)="onRoleChange('espectador')"
    >
      Espectador
    </app-radio-input>
  </div>
</div>