.user-card{
    width: 36px;
    height: 36px;
    opacity: 1;
    border-radius: 32px;
    background-color: #BDBDFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
    .initials{
        font-family: Poppins;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        color: #330072;
    }
}