input{
    width: 292px;
    height: 40px;
    
    border-radius: 100px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    gap: 24px;
    border-width: 1px;
    background: #6429CD14;
    border: 1px solid #BB65FF;

    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}