<main class="game-main">
  <div class="playing-area-container">
    <div class="playing-area">
      
    </div>
    <app-button *ngIf="userRole === 'propietario' && allPlayersHaveVoted"  [className]="'reveal-cards'" (click)="reveal()">
        Revelar cartas
    </app-button>
    <div class="players-container">
      <ng-container *ngIf="displayMode === 'jugador'; else spectatorTemplate">
        <app-player-card
          class="player-card current-player"
          [userName]="currentUser.name"
          [displayMode]="currentUser.displayMode"
          [cardSelected]="currentUser.cardSelected"
          [areCardsRevealed]="areCardsRevealed">
        </app-player-card>

        <app-card-selector  
          *ngIf="!areCardsRevealed"
          [cards]="cards"
          [selectedCard]="currentUser.cardSelected"
          (cardSelected)="handleCardSelection($event)">
        </app-card-selector>

        <div *ngIf="areCardsRevealed" class="results">
          <div class="results-cards">
            <div *ngFor="let entry of voteSummary" class="result-card">
              <span class="card-value">{{ entry.key }}</span>
              <span class="card-votes">{{ entry.value }} votos</span>
            </div>
          </div>

          <p class="average">
            Promedio: <br/><span>{{ average | number:'1.2-2' }}</span>
          </p>
        </div>
      </ng-container>
        
      <ng-template #spectatorTemplate>
          <div class="player-card current-player spectator-card">
            <app-user-info [userName]="userName"></app-user-info>
          </div>
      </ng-template>
      
      <app-player-card *ngFor="let user of connectedUsers; let i = index"
          class="player-card"
          [ngClass]="'player-' + (i + 1)"
          [userName]="user.name"
          [displayMode]="user.displayMode"
          [cardSelected]="user.cardSelected"
          [areCardsRevealed]="areCardsRevealed"
          [userInitials]="user.initials" 
          >
      </app-player-card>

      
    </div>
  </div>
  
</main>