.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 99;
}
.modal-content-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invite-modal {
  border-radius: 12px;
  width: 590px;
  max-width: 600px;
  border: 1px solid #9610FF;
  display: flex;
  flex-direction: column;
}