.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  label {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
    margin-bottom: 5px;
  }
  .error-message{
    color: #dc3545;
    font-family: Poppins;
    font-size: 14px;
  }
}



