<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
  <app-form-field
    [label]="'Nombre la partida'"
    [placeholder]="'Sprint 32'"
    [control]="gameNameControl" 
    [errorMessage]="
  gameNameControl.invalid && (gameNameControl.touched || gameNameControl.dirty)
    ? (gameNameControl.errors?.['required']
      ? 'El nombre es obligatorio.'
      : gameNameControl.errors?.['minlength']
      ? 'Mínimo 5 caracteres.'
      : gameNameControl.errors?.['maxlength']
      ? 'Máximo 20 caracteres.'
      : gameNameControl.errors?.['specialChars']
      ? 'No puede contener caracteres especiales (_*#/-).'
      : gameNameControl.errors?.['maxNumbers']
      ? 'Máximo 3 números.'
      : gameNameControl.errors?.['onlyNumbers']
      ? 'No puede contener solo números.'
      : null)
    : null
"
  >
  </app-form-field>

  <app-button type="submit">Crear partida</app-button>
</form>
